{
    padding: 0;
    margin:0;
    box-sizing:border-box;

}
body{
    background-color: black;
}
.card-img-top{
    border-radius: 50px;
    padding: 20px;
}
.card{
    border-radius:30px;
    box-shadow: rgba(0,0,0,0.25) 0px 0.0625em 0.0625em, rgba(0,0,0,0.25) 0px 0.125em 0.5em,rgba(255,255,255,0.1) 0px 0px  0px  1px inset; 
}

.container{
    padding:20px;
}




{
    padding :0;
    margin:0;
    box-sizing:border-box;
    font-family:sans-serif;
}


.container{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    margin-top: 100px;


}
.img-fluid {
    height:300px;
    width:350px !important;
    object-fit: cover;

}
.card{
    border:none;
    
}
.col{
    padding-left:100px;
    
}

.col-md-8{
    background-color:white;
    box-shadow:rgb(0,0,0,0.24)0px 3px 8px;
    height:233px;
    position:absolute;
}


















<div id="carouselExampleSlidesOnly" class="carousel slide d-none d-md-block" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <img src="image/p4.jpg" class="d-block w-75 mx-auto" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="image/p5.jpg" class="d-block w-75 mx-auto" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="image/p7.jpg" class="d-block w-75 mx-auto" alt="...">
        </div>
      </div>











          
    <div id="carouselExampleSlidesOnly" class="carousel slide d-block d-md-block" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <img src="image/p4.jpg" class="d-block w-75 mx-auto" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="image/p5.jpg" class="d-block w-75 mx-auto" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="image/p7.jpg" class="d-block w-75 mx-auto" alt="...">
        </div>
      </div>