
    padding: 0;
    margin:0;
    box-sizing:border-box;

}
body{
    background-color: black;
}
.card-img-top{
    border-radius: 50px;
    padding: 20px;
}
.card{
    border-radius:30px;
    box-shadow: rgba(0,0,0,0.25) 0px 0.0625em 0.0625em, rgba(0,0,0,0.25) 0px 0.125em 0.5em,rgba(255,255,255,0.1) 0px 0px  0px  1px inset; 


.container{
    padding:20px;
}







        
        <div class="image container margin">
    <img src ="image/p12.jpg" class=" d-block w-75 mx-auto" alt="...">
      </div>

        </div class="container py-5">
        <h1 class="text-center text-info">Challenges</h1>
        <h5 class="text-center text-white">Satellite internet deployment in India faces a combination of high costs,
            significant technical limitations (like weather interference,) and a complex regulatory environment. These
            challenges impact affordability, reliability, and national security considerations</h5>
        