@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200&display=swap');
{
padding; 0;
margin: 0;
box-sizing: border-box;
}


form{
    width:60%;
    background-color:white;
    padding: 10px;
    border-radius: 20px;
    margin-top: 150px;
}
.btn-primary{
    width: 100%;
    border: none;
    border-radius: 50px;
    
}
.form-control{
    color:rgb(0,0,0,.87);
    border-bottom-color: rgb(0,0,0,.42) ;
    box-shadow: none !important;
    border:none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}
 h4{
    font-size:2rem !important;
    font-weight:700;

 }
.form-label{
       font-family: 800 !important;
}

@media only screen and (max-width 600px){
    form{
        width:100% !important;
    }
}
.container{
    padding:20px;
}
