@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Merriweather Sans", sans-serif;
    /*border: .1rem solid white;*/
}

:root{
    --lightblue-clr: lightblue;
    --white-clr:white;
    --dark-blue-clr:darkblue;
}
.bg-white{
    background: var(--white-clr);
}

.bg-dark-blue{
    background: var(--darkblue-clr);
}

.txt-lightblue{
    color: var(--lightblue-clr);
}
.txt-white{
    color: var(--white-clr);

li{
    list-style:none;
}    
a{
    text-decoration:none;
}
 
}
img{
    max-width: 70%;
    height: auto;
}
.navbar-logo{
    width: 8.5rem;
}
.mybtn{
    border:.1rem solid var(--lightblue-clr)!important;
    padding: .5rem 1.6rem;
}

.mybtn:hover{
    background: transarent;
    color:var(--lightblue-clr)!important;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width:2.2rem;
}
 .image-container{
   
    width:30rem;
    aspect-ratio:1;
    border-radius:0%;
    border-top:1rem solid darkblue;
    border-bottom:1rem solid darkblue;
    background-image:url(image/p19.png);
    background-position: center;
    background-size: 100%;
    box-shadow: 0 0 1rem black,
   /*inset 0 0 1reme#171C22,
   0 0 2rem var(--lightblue-clr),
    inset 0 0 2rem var(--lightblue-clr),
    0 0 7rem var(--lightblue-clr),
       inset 0 0 2rem var(--lightblue-clr);*/
 }

.hero-section{
    min-height:80vh;
}
h1{
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
}
p{
    font-size: .95rem;
}

.para{
    max-width: 500px;
}

.main-txt{
    letter-spacing:.2rem;
    font-size: .8rem;
}
 .about-me{
    width:35rem;
 }

.section-container{
    padding-block:4rem;
}

.glow{
    position: relative;
}




@media screen and(max-width:680px)
    h1{
        font-size: 2.8rem;
    }
    .image-container{
        width: 20rem;
    }
    .hero-section{
        min-height: 66vh;
    }
    .about-me{
        width:23rem;
    }
.bg-section{
         min-height:70vh;
     background-image:url(image/p31.jpg);
}
 .col{
    padding:50px;
 }
.card{
    padding:10px;
    margin:-10px;
}


.gray-section{
    min-height:55vh;
    /* background:black;*/
     
}
  .footer-section{
    
    /*background:lightblue;*/
  }
.card-img-top{
   width:1.8rem;

}

.card-img-top1{
      border:none;
    width:100% !important;
    padding-left:100px;
    justify-content:center;
     padding:1px;
}


